# Introduction To The Dataset
The dataset contains the following columns:

year: Year (1994 to 2003).
month: Month (1 to 12).
date_of_month: Day number of the month (1 to 31).
day_of_week: Day of week (1 to 7).
births: Number of births that day.
First things first, let's read in the CSV file and explore it.

In [233]:
# Read and split the fields
def read_csv(file):
    strlst = open(file).read().split("\n")
    string_list = strlst[1:len(strlst)]
    
    final_list = []
    for i in string_list:
        string_fields = i.split(",")
        int_fields = []
        for j in string_fields:
            int_fields.append(int(j))
        final_list.append(int_fields)
    return(final_list)    

'''
Calculate number of births by month
'''
def month_births(birth_list):
    births_per_month = {}
    for mnth in birth_list:
        if mnth[1] in births_per_month:
            births_per_month[mnth[1]] = births_per_month[mnth[1]] \
               + mnth[4]
        else:
            births_per_month[mnth[1]] = mnth[4]
    return(births_per_month)  

'''
Calculate number of births each day of week
'''
def dow_births(birth_list):
    births_per_day = {}
    for day in birth_list:
        if day[3] in births_per_day:
            births_per_day[day[3]] = births_per_day[day[3]] + day[4]
        else:
            births_per_day[day[3]] = day[4]
    return(births_per_day)

'''
Calculate number of births by Year/month/date_of_month/day_of_week by
specifying the list and column position (year = 1, month = 2, 
date_of_month = 3, day_of_week = 4)
'''
def calc_counts(birth_list, col_pos):
    totals = {}
    for i in birth_list:
        if i[col_pos-1] in totals:
            totals[i[col_pos-1]] = totals[i[col_pos-1]] + i[4]
        else:
            totals[i[col_pos-1]] = i[4]
    return(totals)

''' 
Calculate min and max key/values in a dictionary 
'''
def calc_minmax(datset):
    minval = min(datset.values())
    maxval = max(datset.values())
    minkey = min(datset.keys())
    maxkey = max(datset.keys())
    return(minkey, maxkey, minval, maxval)    
              
''' 
Sort the dictionary by key/val (parm = 1 for sort by key, 
parm = 2 for sort by value) 
'''
from collections import OrderedDict
def sort_dict(datset, parm):
    if(parm == 1):
        ordered = OrderedDict(sorted(datset.items(), key = lambda a: a[0]))
    elif(parm == 2):
        ordered = OrderedDict(sorted(datset.items(), key = lambda a: a[1]))
    return(ordered)

In [234]:
# Main logic
cdc_list = read_csv(r'D:\GitHub\Data-Science\Python\Exercise3\US_births_1994-2003_CDC_NCHS.csv')
print("\n-----------------")
print("First 10 elements")
print("-----------------")
print(cdc_list[0:10])

-----------------
First 10 elements
-----------------
[[1994, 1, 1, 6, 8096], [1994, 1, 2, 7, 7772], [1994, 1, 3, 1, 10142], [1994, 1, 4, 2, 11248], [1994, 1, 5, 3, 11053], [1994, 1, 6, 4, 11406], [1994, 1, 7, 5, 11251], [1994, 1, 8, 6, 8653], [1994, 1, 9, 7, 7910], [1994, 1, 10, 1, 10498]]

In [235]:
#Number of births each month
cdc_month_births = month_births(cdc_list)
print("\n---------------------------")
print("Number of births each month")
print("---------------------------")
print(cdc_month_births)

---------------------------
Number of births each month
---------------------------
{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}

In [236]:
#Number of births each day of week
cdc_day_births = dow_births(cdc_list)
print("\n---------------------------------")
print("Number of births each day of week")
print("---------------------------------")
print(cdc_day_births)

---------------------------------
Number of births each day of week
---------------------------------
{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

In [237]:
#Calculate number of births by Year by specifying the list 
#and column pos (year = 1)
cdc_year_births = calc_counts(cdc_list,1)
print("\n-------------")
print("Yearly totals")
print("-------------")
print(cdc_year_births)

-------------
Yearly totals
-------------
{2000: 4058814, 2001: 4025933, 2002: 4021726, 2003: 4089950, 1994: 3952767, 1995: 3899589, 1996: 3891494, 1997: 3880894, 1998: 3941553, 1999: 3959417}

In [238]:
#Calculate number of births by month by specifying the list 
#and column pos (month = 2)
cdc_month_births = calc_counts(cdc_list,2)
print("\n---------------")
print("Monthly totals:")
print("---------------")
print(cdc_month_births)

---------------
Monthly totals:
---------------
{1: 3232517, 2: 3018140, 3: 3322069, 4: 3185314, 5: 3350907, 6: 3296530, 7: 3498783, 8: 3525858, 9: 3439698, 10: 3378814, 11: 3171647, 12: 3301860}

In [239]:
#Calculate number of births by date by specifying the list 
#and column pos (date_of_month = 3)
cdc_dom_births = calc_counts(cdc_list,3)
print("\n--------------------")
print("Day-of-month-totals:")
print("--------------------")
print(cdc_dom_births)

--------------------
Day-of-month-totals:
--------------------
{1: 1276557, 2: 1288739, 3: 1304499, 4: 1288154, 5: 1299953, 6: 1304474, 7: 1310459, 8: 1312297, 9: 1303292, 10: 1320764, 11: 1314361, 12: 1318437, 13: 1277684, 14: 1320153, 15: 1319171, 16: 1315192, 17: 1324953, 18: 1326855, 19: 1318727, 20: 1324821, 21: 1322897, 22: 1317381, 23: 1293290, 24: 1288083, 25: 1272116, 26: 1284796, 27: 1294395, 28: 1307685, 29: 1223161, 30: 1202095, 31: 746696}

In [240]:
#Calculate number of births by week by specifying the list 
#and column pos (day_of_week = 4)
cdc_dow_births = calc_counts(cdc_list,4)
print("\n-------------------")
print("Day-of-week-totals:")
print("-------------------")
print(cdc_dow_births)

-------------------
Day-of-week-totals:
-------------------
{1: 5789166, 2: 6446196, 3: 6322855, 4: 6288429, 5: 6233657, 6: 4562111, 7: 4079723}

In [241]:
# Print the keys of a dictionary
print("\n------------------------")
print("Dict Keys (Day-of-week):")
print("------------------------")
print(cdc_dow_births.keys())

------------------------
Dict Keys (Day-of-week):
------------------------
dict_keys([1, 2, 3, 4, 5, 6, 7])

In [242]:
# Print the values of the dictionary
print("\n-------------------------")
print("Dict Values (Day-of-week:")
print("-------------------------")
print(cdc_dow_births.values())

-------------------------
Dict Values (Day-of-week:
-------------------------
dict_values([5789166, 6446196, 6322855, 6288429, 6233657, 4562111, 4079723])

In [243]:
# Calculate the minimum, maximum value of keys, values in dictionary
minmax = calc_minmax(cdc_year_births)
print("\n-------------------")
print("Min/Max key/values:")
print("-------------------")
print("Min_key: ", minmax[0], "\nMax_key: ", minmax[1], "\nMin_val: " \
      , minmax[2], "\nMax_val: " , minmax[3])

-------------------
Min/Max key/values:
-------------------
Min_key:  1994
Max_key:  2003
Min_val:  3880894
Max_val:  4089950

In [244]:
# Sort the dictionary based on key (in-built function sorted)
print("\n----------------------------------------")
print("Sort by key (in-built function 'sorted')")
print("----------------------------------------")
print(sorted(cdc_year_births))

----------------------------------------
Sort by key (in-built function 'sorted')
----------------------------------------
[1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003]

In [245]:
# Sort the dictionary based on key (user defined function)
print("\n----------------------")
print("Sort by key (parm = 1)")
print("----------------------")
sortbykey = sort_dict(cdc_year_births, 1)
print(sortbykey)

----------------------
Sort by key (parm = 1)
----------------------
OrderedDict([(1994, 3952767), (1995, 3899589), (1996, 3891494), (1997, 3880894), (1998, 3941553), (1999, 3959417), (2000, 4058814), (2001, 4025933), (2002, 4021726), (2003, 4089950)])

In [246]:
# Sort the dictionary based on value (user defined function)
print("\n----------------------")
print("Sort by val (parm = 2)")
print("----------------------")
sortbyval = sort_dict(cdc_year_births, 2)
print(sortbyval)

----------------------
Sort by val (parm = 2)
----------------------
OrderedDict([(1997, 3880894), (1996, 3891494), (1995, 3899589), (1998, 3941553), (1994, 3952767), (1999, 3959417), (2002, 4021726), (2001, 4025933), (2000, 4058814), (2003, 4089950)])

In [247]:
# Main logic
year_list = []
mon_list = []
dat_list = []
day_list = []
for i in cdc_list:
    year_list.append(i[0])
    mon_list.append(i[1])
    dat_list.append(i[2])
    day_list.append(i[3])

unique_yrs = set(year_list)
unique_mnt = set(mon_list)
unique_dat = set(dat_list)
unique_day = set(day_list)
print(unique_yrs)
print(unique_mnt)
print(unique_dat)
print(unique_day)

{1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31}
{1, 2, 3, 4, 5, 6, 7}

In [248]:
#Find the sum of total births month wise for year
'''
parm = 1 (month), 2 (date of month), 3 (day of week)
val = 1-12 (if parm = 1)
    = 1-31 (if parm = 2)
    = 1-7 (if parm = 3)
'''

def year_beh(year, parm, val):
    new_lst = []
    if parm == 1:
        if val >= 1 and val <= 12:
            tot = 0
            for i in cdc_list:
                if i[0] == year and i[1] == val:
                    tot += i[4]
            new_lst = [year, parm, val, tot]
            return(new_lst)
        else:
            return("Invalid value of month entered for parameter 1")
    
    elif parm == 2:
        if val >= 1 and val <= 31:
            tot = 0
            for i in cdc_list:
                if i[0] == year and i[2] == val:
                    tot += i[4]
            new_lst = [year, parm, val, tot]
            return(new_lst)
        else:
            return("Invalid value of date entered for parameter 2")
    
    elif parm == 3:
        if val >= 1 and val <= 7:
            tot = 0
            for i in cdc_list:
                if i[0] == year and i[3] == val:
                    tot += i[4]
            new_lst = [year, parm, val, tot]
            return(new_lst)
        else:
            return("Invalid value of day entered for parameter 3")

In [249]:
print(year_beh(2003,1,1))
print(year_beh(1993,1,1))
print(year_beh(1994,1,1))
print(year_beh(1994,2,4))
print(year_beh(2000,2,4))
print(year_beh(1996,3,7))
print(year_beh(2001,3,7))

[2003, 1, 1, 329803]
[1993, 1, 1, 0]
[1994, 1, 1, 320705]
[1994, 2, 4, 128735]
[2000, 2, 4, 129344]
[1996, 3, 7, 413336]
[2001, 3, 7, 397119]

In [250]:
print(year_beh(2003,1,14))
print(year_beh(2003,2,35))
print(year_beh(2003,3,10))

Invalid value of month entered for parameter 1
Invalid value of date entered for parameter 2
Invalid value of day entered for parameter 3

In [251]:
# Month wise summary for all years
mon_sum_lst = []
for yr in unique_yrs:
    for mn in unique_mnt:
        tot = 0
        for i in cdc_list:
            if i[0] == yr and i[1] == mn:
                tot += i[4]
        tmp_lst = [yr,mn,tot]
        mon_sum_lst.append(tmp_lst)

print(mon_sum_lst[:10])

[[1994, 1, 320705], [1994, 2, 301327], [1994, 3, 339736], [1994, 4, 317392], [1994, 5, 330295], [1994, 6, 329737], [1994, 7, 345862], [1994, 8, 352173], [1994, 9, 339223], [1994, 10, 330172]]

In [252]:
# Date wise summary for all years
dat_sum_lst = []
for yr in unique_yrs:
    for dt in unique_dat:
        tot = 0
        for i in cdc_list:
            if i[0] == yr and i[2] == dt:
                tot += i[4]
        tmp_lst = [yr,dt,tot]
        dat_sum_lst.append(tmp_lst)

print(dat_sum_lst[0:10])

[[1994, 1, 132515], [1994, 2, 128688], [1994, 3, 126213], [1994, 4, 128735], [1994, 5, 125279], [1994, 6, 128859], [1994, 7, 134629], [1994, 8, 133760], [1994, 9, 128391], [1994, 10, 127805]]

In [253]:
# Day wise summary for all years
day_sum_lst = []
for yr in unique_yrs:
    for day in unique_day:
        tot = 0
        for i in cdc_list:
            if i[0] == yr and i[2] == day:
                tot += i[4]
        tmp_lst = [yr,day,tot]
        day_sum_lst.append(tmp_lst)
        
print(dat_sum_lst[0:10])

[[1994, 1, 132515], [1994, 2, 128688], [1994, 3, 126213], [1994, 4, 128735], [1994, 5, 125279], [1994, 6, 128859], [1994, 7, 134629], [1994, 8, 133760], [1994, 9, 128391], [1994, 10, 127805]]

In [254]:
ssa_list = read_csv(r'D:\GitHub\Data-Science\Python\Exercise3\US_births_2000-2014_SSA.csv')
mrg_list = cdc_list
print(ssa_list[0:5])
print("cdc_list: " , len(cdc_list))
print("ssa_list: " , len(ssa_list))
print("mrg_list: " , len(mrg_list))

[[2000, 1, 1, 6, 9083], [2000, 1, 2, 7, 8006], [2000, 1, 3, 1, 11363], [2000, 1, 4, 2, 13032], [2000, 1, 5, 3, 12558]]
cdc_list:  3652
ssa_list:  5479
mrg_list:  3652

In [255]:
# Merge the lists cdc_list and ssa_list
mrg_list = mrg_list + ssa_list
print("mrg_list: " , len(mrg_list))
mrg_list = sorted(mrg_list)

mrg_list:  9131

In [256]:
print(mrg_list[2191:2196])

[[2000, 1, 1, 6, 8843], [2000, 1, 1, 6, 9083], [2000, 1, 2, 7, 7816], [2000, 1, 2, 7, 8006], [2000, 1, 3, 1, 11123]]

In [257]:
# For the overlapping elements, sum up the birth counts
tmp_yr = tmp_mn = tmp_dat = tmp_day = tmp_brth = 0
pos = 0
for i in mrg_list:
    if i[0] == tmp_yr and i[1] == tmp_mn and i[2] == tmp_dat and i[3] == tmp_day:
        i[4] = i[4] + tmp_brth
        del(mrg_list[pos - 1])
    tmp_yr = mrg_list[pos][0]
    tmp_mn = mrg_list[pos][1]
    tmp_dat = mrg_list[pos][2]
    tmp_day = mrg_list[pos][3]
    tmp_brth = mrg_list[pos][4]
    pos += 1

In [258]:
print(len(mrg_list))
print(mrg_list[2191:2196])

7670
[[2000, 1, 1, 6, 17926], [2000, 1, 2, 7, 15822], [2000, 1, 3, 1, 22486], [2000, 1, 4, 2, 25735], [2000, 1, 5, 3, 24798]]